[Desktop Entry]
Type=Application
Name=Mobile Developer v.1.0.1
Comment=SFTi
Exec=$HOME/.local/share/applications/mobile_cli.sh
Icon=$HOME/.local/share/icons/MobileDeveloper.png
Terminal=true
Categories=Development;Utility;
