[Desktop Entry]
Type=Application
Name=Mobile Developer
Exec=sh -c 'cd "$(dirname %k)/../scripts" && ./start_code.sh'
Icon=utilities-terminal
Terminal=true
Categories=Development;Utility;
Comment=Start/Stop Mobile Developer Tunnel and VSCode
