[Desktop Entry]
Type=Application
Name=Mobile Developer v.1.0.1
Comment=SFTi
Exec=mobile_cli
Icon=MobileDeveloper
Terminal=true
Categories=Development;Utility;
